*.out
.dir-locals.el
TAGS
Cargo.lock
dist/mu*.tgz
dist/sysgen
dist/mu-exec
dist/mu-ld
dist/mu-server
dist/mu-sys
dist/prelude.l
doc/rustdoc
metrics/footprint/*.report
metrics/footprint/json
metrics/regression/*.report
metrics/regression/json
metrics/valgrind/cachegrind.report
metrics/valgrind/callgrind.report
metrics/valgrind/memcheck.report
target