*.out
*.sys
*.fasl
.mu-dev
.mu-replrc
.dir-locals.el
TAGS
Cargo.lock
dist/mu*.tgz
dist/mu-*
dist/*.l
dist/*.fasl
dist/*.sys
dist/VERSION
doc/rustdoc
lib/valgrind/*.report
lib/profiling/core/*.report
lib/profiling/core/prof.data*
tests/*/*.report
tests/*/json/
tests/performance/*.summary
target/
