*.out
*.sys
*.fasl
.mforge
.dir-locals.el
TAGS
Cargo.lock
dist/mu*.tgz
dist/mu-*
dist/forge
dist/*.l
dist/VERSION
doc/rustdoc
tools/valgrind/*.report
tools/profiling/core/*.report
tools/profiling/core/prof.data*
tests/*/*.report
tests/*/json/
tests/performance/*.summary
target/
